---
- name: Initial Server Setup
  hosts: all
  become: yes
  roles:
    - common
    - users
    - security

- name: Web Server Setup
  hosts: webservers
  become: yes
  roles:
    - nginx

- name: Database Server Setup
  hosts: dbservers
  become: yes
  roles:
    - postgresql