---
- name: Install UFW
  package:
    name: ufw
    state: present

- name: Allow SSH
  ufw:
    rule: allow
    port: "{{ ssh_port }}"
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled

- name: Disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "^#?PasswordAuthentication "
    line: "PasswordAuthentication no"
  notify: restart ssh

- name: Install fail2ban
  package:
    name: fail2ban
    state: present

- name: Start fail2ban
  service:
    name: fail2ban
    state: started
    enabled: yes